<body style="background-color:#d4d4d4;">
    <style>
        @import url("https://fonts.googleapis.com/css?family=Roboto");
    </style>
    <br>    
    <center>
        <div style="background-color:aliceblue; width: 85%; height: 1000px; border-radius: 5px; margin-top: 50px; font-family: Roboto;">
            <br>
            <p style="font-size: 25px; color:black">{{ nombre }}</p>
            <hr style="width: 90%;"><br>
            <p style="font-size: 20px; text-align: left; margin-left: 40px"> <strong> DATOS PERSONALES: </strong> </p>
            <p style="font-size: 15px; text-align: left; margin-left: 35px"> <strong> EDAD: </strong> </p>
            <p style="font-size: 15px; text-align: left; margin-left: 35px"> <strong> TELEFONO: </strong> </p>
            <p style="font-size: 15px; text-align: left; margin-left: 35px"> <strong> EMAIL: </strong> </p>
            <div style="text-align: left; margin-left: 40px; margin-right: 40px;;"></div>
            <br>
            <p style="font-size: 18px; "> <strong>PERSONAL</strong> </p>
            <textarea rows="12" style="width: 100%; border: none; overflow: hidden;">{{ Personal }} </textarea>
            <br><br>
            <p style="font-size: 18px; "> <strong>EXPERIENCIA</strong> </p>
            <textarea rows="12" style="width: 100%; border: none; overflow: hidden;">{{ Experiencia }} </textarea>
            <br><br><br>


        </div>
    </center>
</body>

